{% extends 'base.html'%}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to sue's Ecommerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Suspendisse eleifend ex condimentum nunc posuere placerat. In hac habitasse platea dictumst. In at
                    metus
                    consequat, faucibus arcu at, sagittis dui. Nulla facilisi. Nulla facilisi. Fusce quis blandit quam.
                    Integer vehicula, augue eu dignissim ullamcorper, odio justo eleifend metus, vitae interdum dolor
                    enim
                    eu neque. Cras efficitur euismod ante. Sed condimentum erat eget risus interdum, ut euismod nulla
                    rutrum. Sed ultrices ultrices elementum. Nunc sed neque cursus, molestie odio non, tempor dui.
                    Nullam
                    feugiat ipsum id neque tempor, at lacinia arcu mattis. Quisque vestibulum tristique orci eu
                    condimentum.
                    Quisque id ipsum neque.
                    <br /><br />
                    Nulla ullamcorper quam ut nibh commodo tempus. Curabitur in nisi iaculis, laoreet leo eu, gravida
                    nunc.
                    Cras nec erat lectus. Sed elit mauris, tempus eu lorem non, malesuada vehicula justo. Aliquam
                    hendrerit
                    sem vel leo iaculis commodo. Duis sed viverra metus, vel lacinia nisi. Fusce vitae faucibus augue, a
                    cursus dolor. Maecenas quis viverra arcu, at luctus purus.
                    <br /><br />
                    Sed sit amet nibh massa. Etiam mattis interdum commodo. Proin sodales nisi quis leo fermentum
                    ultrices.
                    Vestibulum ut molestie magna, quis auctor neque. Nam mauris orci, congue in odio at, ullamcorper
                    auctor
                    ante. Quisque et lobortis libero. Praesent convallis hendrerit massa, vitae ullamcorper est lacinia
                    quis. Aliquam eleifend orci eget eros tincidunt, placerat luctus velit sodales. Cras nec scelerisque
                    mi,
                    tempor sodales dui. Vestibulum volutpat ullamcorper dui vitae auctor. Duis sit amet ullamcorper
                    nisi.
                    Vivamus scelerisque vestibulum urna. Sed accumsan luctus venenatis.
                    <br /><br />
                    Nullam vel metus sit amet justo suscipit ultricies. Ut a nulla ornare, malesuada nulla non,
                    tristique
                    metus. Mauris consequat vel massa eget bibendum. Donec sed convallis velit. Vivamus et ullamcorper
                    libero, ac accumsan purus. Pellentesque lacinia placerat ornare. Suspendisse quis tempor purus, sit
                    amet
                    fermentum ipsum. Nullam mattis id dui id pellentesque. Phasellus vitae rhoncus libero, et pretium
                    ante.
                    In semper diam urna, sed accumsan nisi pharetra tristique. Phasellus nisi risus, dignissim vitae
                    nibh
                    sit amet, blandit vehicula dolor. Suspendisse ac metus vitae lorem tempor egestas.
                    <br /><br />
                    Cras sagittis turpis quis diam rhoncus porttitor. Praesent urna leo, consectetur vitae rhoncus ac,
                    iaculis ut risus. Sed porta dictum ullamcorper. Praesent tempor nisl eu accumsan tristique. Aliquam
                    placerat elementum vestibulum. Nulla suscipit massa in lacus euismod, nec faucibus nibh scelerisque.
                    Vestibulum sed mauris erat. Nulla tempor massa in semper vulputate. Cras eleifend sapien lacus, id
                    scelerisque diam blandit id. Donec ullamcorper felis ac tellus blandit viverra. Suspendisse potenti.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}