{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="{{product.name}}"
                    style="width: fit-content; height: fit-content;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.describtion}}</p>
                        {% if product.is_sale %}
                        <strike>${{product.price}}</strike>

                        <br /> ${{product.sale_price}}
                        {% else %}
                        <br /> ${{product.price}}
                        <br /> ID: {{product.id}}
                        {% endif %}

                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <a href="{% url 'home' %}" class="btn btn-secondary">home</a>
                        <button class="btn btn-secondary" type="button" value="{{product.id}}" id="add-cart">
                            Add To Cart
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script>

    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({

            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },
            success: function (json) {
                console.log(json)
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // proposed change
            }

        });
    })

</script>

{% endblock %}